body {
  background-color: #ded9d1 !important;
  margin: 0; }

.container-fluid {
  padding: 0 !important; }

header {
  background-color: #405966;
  color: #95a8b3;
  height: 15vh; }
  header h1 {
    font-size: 2.5em;
    margin: 0;
    padding: 0;
    text-align: center;
    text-shadow: #333 1px 1px 6px;
    z-index: 1; }
  header h3 {
    color: #edd2ab;
    font-size: 1em;
    margin: 0;
    padding: 0;
    padding-bottom: 3px;
    text-align: center;
    text-shadow: #333 1px 1px 3px;
    z-index: 1; }
  header .mob-btn-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    color: #EDD2AB; }
  header nav {
    background-color: #405966;
    width: 100wv;
    height: auto;
    padding-top: 8px; }
    header nav ul {
      list-style: none;
      padding: 0;
      padding-bottom: 3px; }
      header nav ul li {
        color: #edd2ab;
        text-align: center;
        padding: 4px;
        margin: 4px 0px; }
      header nav ul li.h5 {
        color: #edd2ab;
        margin-bottom: 2px; }
      header nav ul li.links {
        background-color: #95a8b3; }
